/*
----------------
FACULTY STAFF DIRECTORY
----------------
*/
.section-directory {
  #edit-contact-type-wrapper {
    width: 100%;
    margin-bottom: 14px;
    label {
      display: inline-block;
    }
  }
}