

// HERO TEXT
.hero-contain {
  text-align: center;
	.field-type-image {
  	max-height: 400px;
    overflow: hidden;
    position: relative;
    img {
      max-width: none;
      width: 100%;
    }
  }

}

.hero-text > .cycle-slide {
  background: $brick-red;
}

.hero-text {
	width: 100%;
	background-color: $brick-red;
	text-align: center;
	float: left;
	padding: 24px 0;

  .views-field-field-page-header-title {
    padding-right: 6px;
  }

/*
  &:has(.cycle-slide) {
    padding: 0;
  }

*/
  h2 {
    color: white;
		font-size: 26px;
		margin: 0;
		@media #{$large-up} {
  		font-size: 36px;
		}
  }



	.cycle-slide {
  	width: 100%;
		display: inline-block;
		margin: 0;
    color: $white;
		font-family: $serif;
		padding: 24px 0;
		font-size: 25px;
  	@media #{$large-up} {
    	font-size: 32px;
  	}
	}

	strong {
    @media #{$small-only} {
      clear: both;
      display: block;
    }
	}
}

.views-field-field-page-header-title, .views-field-field-page-header-subtitle {
	font-size: 30px;
	display: inline;

	div {
		display: inline;
	}
}

.views-field-field-page-header-title {
	h2 {
		font-weight: 700;
	}
}

.views-field-field-page-header-subtitle {
	h2 {
		font-weight: 100;
	}
}
