.lead-in {
  padding: 0px 0px 20px 0px;
  .intro {
    margin-top: 0px;
  }  
}

h1.title {
  margin: auto;
  padding-bottom: 20px;
}

.intro-text {
  font-size: 23px;
  color: #53565a;
  font-weight: 100;
  margin-top: 0;
}