// --------------------------------------------------
// Config
// --------------------------------------------------
$transition: all .4s linear;

// 
// Colors
// --------------------------------------------------
$black: #000;
$white: #fff;
$brick-red: #920710;
$dark-red: #7a1b23;
$sea-blue: #336666;
$flannel: #717073;
$dove-gray: #d8d9da;
$daffodil: #ffe14f;
$link-blue: #3676bb;
// 
// FONT
// --------------------------------------------------
$sans-serif: "proxima-nova", sans-serif;
$serif: "museo-slab", serif;


//
// AFTER ARROW
// -------------------------------------------------
$arquo: '\00BB';